*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  transition: .3s;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



:root{
  --linear-gradient-top: linear-gradient(to bottom, rgba(51, 51, 51, 0.9),transparent);
  

}

.App{
  min-height: 100vh;
  background-color: #141414;
  color: #FFF; 
  
}



