*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  transition: .3s;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.html{
  font-size: 62.5%;
}



:root{
  --linear-gradient-top: linear-gradient(to bottom, rgba(51, 51, 51, 0.9),transparent);
  

}

.App{
  
  background-color: #141414;
  color: #FFF; 
  
}

@media (max-width:800px){
  html{

    font-size: 60.2%;
  }
}

@media (max-width:500px){
  html{

    font-size: 58.2%;
  }
}



